.about-me{
  padding: 40px;
  background-size:cover;
  height: 2000px;
  width: 100vw;
  color: #376084;
}
.about-me h2{
  font-size: 100px;
  border: 5px solid #376084;
  border-radius: 20px;
  width: 700px;
  margin: 50px auto;
  padding: 20px;
}
.about-me p{
  font-size: 60px;
  margin: 50px auto;
  padding: 20px;
}

.personal-card-container{
  display: flex;
  margin: 0 auto;
  width: 1600px;
}

.mgram-image{
  padding: 100px;
}
.mgram-image img{
  height: 60vmin;
}
.mgram-image a{
  font-size: 40px;
  display: block;
}