.about-me{
  padding: 40px;
  background-image: url(../picture/background-image.jpg) ;
  background-size:cover;
  height: 2000px;
  width: 100vw;
  color: aliceblue;
}
.about-me h2{
  font-size: 100px;
  border: 5px solid aliceblue;
  border-radius: 20px;
  width: 700px;
  margin: 50px auto;
  padding: 20px;
}
.about-me p{
  font-size: 60px;
  margin: 50px auto;
  padding: 20px;
}
.fadeIn {
  animation: fadeIn 500ms linear both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.personal-card-container{
  margin: 0 auto;
  width: 80vw;
  background-color: rgb(167, 187, 158);
  display:flex ;
}
.personal-card{
  flex: 1;
  background-color: rgb(255, 255, 255);
  border: 1px solid #333;
  margin: 30px;
  color: black;
  font-size: 30px;
}
.personal-card p{
  font-size: 40px;
}

.mgram-image{
  background-color: rgb(8, 78, 139);
}
.mgram-image img{
  height: 60vmin;
}
.mgram-image a{
  font-size: 40px;
  color: aliceblue;
  display: block;
}