.App-header {
  height: 200px;
  background-color: #dbc2d2;
  text-align: center;
  color: #4f3737;
}
.menu{
  margin: 0 auto;
  padding: 0;
  display: table;
  width: 80vmax;
  height: 100px;
  line-height: 230px;
}
.menu li{
  list-style: none;
  display:table-cell;
}