.App-header {
  height: 250px;
  background-color: #f8e2f0;
  text-align: center;
  color: #4f3737;
}
.menu{
  margin: 0 auto;
  padding: 0;
  display: table;
  width: 80vmax;
  height: 100px;
  line-height: 230px;
}
.menu li{
  list-style: none;
  margin: 0 30px;
  font-size: 64px;
  display:table-cell;
}