.home{
  width: 100vw;
}

.main{
  padding: 80px 0 30px 0;
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
}

.name-container{
  text-align: left;
  width: 600px;
}
.name-container h1{
  font-size: 6.5rem;
}
.name{
  animation-name:fadeDownAnime;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
.initial{
  padding-left: 30px;
  animation-name:fadeDownAnime;
  animation-delay: 0.5s;
  animation-duration:1.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  @keyframes fadeDownAnime{
    from {
      opacity: 0;
    transform: translateY(-100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

.my-picture{

  animation: fadein 1.5s ease-out forwards;
}
@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}
.my-picture img{
  opacity: 0.9;
  height: 400px;
  border-radius: 10%;
}

.home p{
  font-size: 1.5rem;
  margin-bottom: 30px;
}
.next-icon{
  cursor: pointer;

}
.next-icon:hover{
  transition: transform .3s ease;
  transform: scale(1.3);
}