.portfolio{
  padding: 40px;
  width: 100vw;
  color: #376084;
}
.portfolio h2{
  font-size: 3rem;
  border: 3px solid #376084;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  padding: 10px;
}