.skill{
  padding: 20px;
  width: 100vw;
}
.skill-title-container{
  width: 80vw;
  padding: 0 20px;
  margin: 0 auto;
}
.skill-title-container h2{
  font-size: 3rem;
  border: 3px solid #376084;
  border-radius: 10px;
  width: 300px;
  margin: 20px auto;
  padding: 10px;
}
.skill-title-container p{
  font-size: 1.3rem;
  margin: 30px auto;
  padding: 10px;
  text-align: left;
  width:60vw;
}

.skill-container{
  display: flex;
  margin: 60px auto;
  width: 800px;
}